body {
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,
body,
#root {
    min-height: 100vh;
    background-color: var(--alabaster);
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: inherit;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--lavender-pinocchio);
}
