.atom-radio {
  &__input {
    -webkit-appearance: none;
    width: 22px;
    height: 20.66px;
    border: 2px solid var(--gainsboro);
    border-radius: 50%;

    &:before {
      content: "";
      display: block;
      width: 80%;
      height: 80%;
      margin-top: 30%;
      margin-left: 20%;
    }
    &:checked {
      border: 2px solid var(--ball-blue);
      &:before {
        background: url("../../icons/tick-icon.svg") no-repeat;
      }
    }
  }

  &__label {
    font-size: 14px;
    letter-spacing: 0.16px;
    color: var(--vawpire-grey);
    margin-left: 12px;
  }
}
