.app-header {
  flex-shrink: 0;
  width: 100%;
  height: 76.64px;
  padding-left: 15px;
  background-color: var(--ball-blue);

  &__content {
    height: 76.64px;
  }
}

.basket-content {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  height: inherit;
  padding: 25.57px 24px 25.55px 24px;
  letter-spacing: 0.16px;
  color: var(--white);

  &__wrapper {
    position: absolute;
    right: 2px;
    top: 85px;
    border-radius: 2px;
    padding: 8.18px 8px;
    width: calc(100% - 4px);
    z-index: 2;
    animation: coming 0.2s ease-out forwards;

    @media (min-width: 768px) {
      right: 0px;
      top: 100px;
      width: 350px;
    }
  }

  &__sum {
    padding: 17.37px 24px;
    border: 2px solid var(--ball-blue);
  }

  &__count {
    width: 32px;
    height: 32.7px;
    margin: 0 11px;
    background-color: var(--ball-blue);

    &--content {
      font-weight: 700;
      font-size: 15px;
      line-height: 30px;
      text-align: center;
      color: var(--white);
    }
  }
}
